.better {
  margin: 15px;
  font-size: 17px;
  float: left;
  width: 700px;
}

.column {
  float: left;
  text-align: left;
  margin: 10px 11px 10px 30px;
  width: 33%;
  font-size: 22px;
}

.fixit {
  width: 250%;
  color: black;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.img {
  float: right;
}
